
}
}
<<<<<<< HEAD


.cabecalho-imagem{
width: 200px;
height: 200px;
border-radius: 50%;
padding: 20px;

}

.cabecalho-menu-listaitem{

    display: inline;
    text-transform: uppercase;
    margin: 30px;
}

.sobre{
display: flex;
justify-content: center;
align-items: center;

}

.sobre_texto{

    padding: 40px;
}

.elementos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}
.elementos__div{
    text-align: center;
    width: calc(33.333% - 40px);
    box-sizing: border-box;
}
.elementos__imagem{
    width: 300px;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
}
>>>>>>> d0318267aa9c1264ac5e97d3ec02f495e1241556